<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>built-in-filter</h1>
        <h3>{{name}}</h3>
        <h3>{{name|lower}}</h3>
        <h3>{{name|upper}}</h3>
        <h3>{{name|capfirst}}</h3>
        <h3>{{name|truncatewords:10}}</h3>
        <h3>{{name|truncatechars:5}}</h3>
        <h3>{{name|slice:5}}</h3>
        <h3>{{dt|date:'F Y D'}}</h3>
        <h3>i have {{c}} dog{{c|pluralize}}</h3>
        <h3>this {{c}} mango{{c|pluralize:'es'}} {{c|pluralize:'is,are'}} mine </h3>
    </center>
</body>
</html>